* {
	background: #393e46; 
    color: #f2f2f2;
}

button {
    background-color: #f96d00;
    width: 75px;
    height: 75px;
    font-size: 50px;
    flex-grow: 1;
}

.calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 150px;
    background-color: #f2f2f2;
    color: #f96d00;
    flex-grow: 2;
}

.display-row {
    display: flex;
    width: 50%;
}

.row {
    display: flex;
    width: 40%;
}

.clear-button {
    width: 40%;
}

#zero {
    flex-grow: 1;
}

.equals-button {
    flex-grow: 1;
}
/*
#zero, #backspace, #clear {
    width: 154px;
}

#backspace, #clear {
    background-color: red;
}

#plus, #minus, #times, #div {
    background-color: blueviolet;
}

#equals {
    background-color: white;
    color: #f96d00;
    font-weight: 500;
}
#display {
    font-size: 50px;
}

#calculator-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#row {
    margin-top: 5px;
} */
