* {
	background: #393e46; 
    color: #f2f2f2;
}

button {
    background-color: #f96d00;
    width: 75px;
    height: 75px;
    font-size: 50px;
}

#zero {
    width: 154px;
}
#display {
    font-size: 50px;
}

#calculator-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#row {
    margin-top: 5px;
}
